.product {
  height: 270px;
  flex-basis: 200px;
  background-color: #286DF1;
  border-radius: 10px;
  transform: scale(1);
  animation: scale 0.5s linear;
}

@keyframes scale {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

.product2 {
  height: 270px;
  flex-basis: 200px;
  background-color: #286DF1;
  border-radius: 10px;
  transform: scale(0);
  animation: shrink 0.5s linear;
}

@keyframes shrink {
  from{
    transform:rotate(0deg) scale(1);
    
  }
  to{
    transform: rotate(360deg)  scale(0);
  }
}

.productImage {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.description {
  padding: 5px;
}

.description span {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.description p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  color: whitesmoke;
}

.description button {
  margin-top: 5px;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  background-color: #0E141B;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  font-family: sans-serif;
  font-style: normal;
  cursor: pointer;
  color: beige;
}

.description button:hover {
  opacity: 0.6;
}